.vscode/*
__pycache__/*
ui/__pycache__/*
yolov5/models/__pycache__/*
yolov5/utils/__pycache__/*

train_result/*

*.pyc
*.mp4
res/*.jpg
~$Intro.pptx
Intro.pptx
*.pptx
res/images/*.jpg
modules/res/test_design/**
data/**
/.qt_for_python

dist/*
build/*
logs/*

datasets/*
runs/*
tts_voice/voices/*